
<h1>Hello, Rails!</h1>
<%= link_to '我的博客', controller: 'articles' %>

<h1>Listing articles</h1>

<%= link_to '创建博客', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to '显示', article_path(article) %></td>
        <td><%= link_to '编辑', edit_article_path(article) %></td>
        <td><%= link_to '删除', article_path(article),
                        method: :delete, data: {confirm: 'Are you sure'} %></td>
      </tr>
  <% end %>
</table>

